@page "/client/me"
@using System.Text.Json
@rendermode InteractiveWebAssembly
@inject ApiClient _api

<TabTitle>Client me</TabTitle>

<span>Me with client</span>

<textarea>
    @JsonSerializer.Serialize(Me);
</textarea>

@code {

    private GetMeResponse? Me { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Me = await _api.GetMeAsync();
    }
}