@page "/server/me"
@using System.Text.Json
@attribute [StreamRendering]
@inject ApiClient _api

<TabTitle>Server me</TabTitle>

<span>Me with server side</span>

<textarea>
    @JsonSerializer.Serialize(Me);
</textarea>

@code {

    private GetMeResponse? Me { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Me = await _api.GetMeAsync();
    }
}