.layout {
    display: grid;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid gray;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.avatar {
    cursor: pointer;
}